@import "../../components/Mixin/Mixin.scss";

.wrapper {
  .action {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: #f0f0f0;
    box-shadow: #0000001a 0 -2px 3px;
  }
  @include desktop {
    .course {
      width: 77%;
      margin-bottom: 6rem;
    }
    .info {
      width: 23%;
    }
    .menu {
      display: none;
    }
  }
  @include tabletAndMobile {
    .course {
      width: 65%;
      margin-bottom: 6rem;
    }
    .info {
      width: 100%;
    }
    .visible-block {
      display: none;
    }
    .menu_btn {
      display: none;
    }
    .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      font-size: 1.6rem;
      background-color: #fff;
      margin: 0 8px;
      cursor: pointer;
    }
  }
  .info {
    background-color: #fff;
    position: relative;
    right: 0;
    overflow-y: overlay;
    position: fixed;
    top: 1rem;
    right: 0;
    z-index: 2;
    bottom: 5.3rem;
    margin-top: 50px;
    border-left: 1px solid #e7e7e7;
  }

  .content {
    position: relative;
    .comment-full {
      position: fixed;
      bottom: 6rem;
      right: 2rem;
      z-index: 1;
    }
    .comment-inside {
      position: fixed;
      bottom: 6rem;
      right: calc(23% + 2rem);
      z-index: 1;
    }
  }
  .vid {
    width: 77%;
    height: 70vh;
    position: relative;
    video,
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .content_top {
    p {
      opacity: 0.7;
      font-size: 1.3rem;
      margin-bottom: 36px;
    }
  }

  .question {
    background-color: rgb(241, 249, 254);
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 2rem;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
  .select_answer {
    height: auto;
    border-radius: 0;
    padding: 0;
    border: none;
    &:focus-visible {
      outline: none;
    }
    .option_answer {
      padding: 2rem;
      font-size: 1.6rem;
      line-height: 1.4;
      border-radius: 8px;
      box-shadow: 8px 0 8px #89acc00a;
      background-color: #f6f7f9;
      -webkit-user-select: none;
      user-select: none;
      border: 2px solid transparent;
      transition: ease 0.2s;
      + .option_answer {
        margin-top: 1rem;
      }
    }
  }
}
