.wrapper {
  padding: 1rem;
  color: var(--desc-color);
  font-size: 1.4rem;
  box-shadow: rgb(0 0 0/12%) 0px 2px 12px;
  min-height: 50px;
  min-width: 230px;
  border-radius: 1rem;
  position: relative;
  background-color: #fff;
}
