.wrapper {
  --desc-color: #0000008a;
  color: var(--desc-color);
  font-size: 1.4rem;
  box-shadow: rgb(0 0 0/12%) 0px 2px 12px;
  min-height: 50px;
  min-width: 230px;
  border-radius: 1rem;
  position: relative;
}
.chart_data {
  background-color: var(--white);
}
.money {
  + .money {
    margin-left: 2rem;
  }
}
.manager_information {
  background-color: var(--grey-background);
}
.slide_card_money {
  background-color: var(--color-card-background);
}
