.wrapper {
  color: red;
  height: var(--header-height);
  background-color: #fff;
  border-bottom: 1px solid var(--grey);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  z-index: 100 !important;
  top: 0;
  right: 0;
}
.content {
  height: 100%;
  min-width: 98.5%;
}
.navbar {
  flex: 1 1;
  height: 100%;
}
.logo {
  flex: 1 1;
  padding: 0;
}

.action {
  flex: 1 1;
  justify-content: flex-end;
  height: var(--header-height);
}
.result {
  background-color: #fff;
}
