.wrapper {
  display: flex;
  padding-bottom: 3rem;
  .manager {
    .slide {
      padding: 2rem 4rem;
      border: none;
      .active {
        border: none;
      }
    }
  }
  .add_manager {
  }
  .card {
    background-color: transparent;
    width: 100%;
  }
}
